.nav-link {
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 3px rgb(60, 57, 57);
  }


  .box {
    background-color: aquamarine;
    height: 30px;
  }
  #nav_brand{
    color: rgb(27, 29, 28);
    font-size: 21px;
    font-family: "Audiowide", sans-serif;

text-shadow: 3px 3px 3px #615f5f;
  }
  #nav_brand:hover{
    color: aliceblue;
  }

.caro1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.caro2{
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite;
}

.des-1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



@media only screen and (max-width: 600px) {
      .nav-link{
        font-size: 14px;
      }
     #nav_brand{
        font-size: 15px;
     }
}
